<div class="container containermain" >

  <form class="well form-horizontal fm" id="contact_form" (ngSubmit)="uploadFile()" style="margin-top: 100px;">
<fieldset >

<!-- Form Name -->
<div style=" text-align: center;"><legend><h2><b >Upload File</b></h2></legend><hr><br></div>

<!-- Text input-->

<div class="form-group">
<label class="col-md-4 control-label"></label>  
<div class="col-md-4 inputGroupContainer">
<div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
<input  name="file" placeholder=" Upload File" class="form-control" [(ngModel)]="file"  type="file">
  </div>
</div>
</div>

<!-- Text input-->


<!-- Select Basic -->

<!-- Success message -->
<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Success!.</div>

<!-- Button -->
<div class="form-group">
<label class="col-md-4 control-label"></label>
<div class="col-md-4 button1"><br>
  <div class="buttons" style="display: inline-block;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-warning">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SUBMIT <span class="glyphicon glyphicon-send"></span
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
</div>

</div>
</div>

</fieldset>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
